{
  "swagger": "2.0",
  "info": {
    "version": "V1",
    "title": "Yardi Kube Public API",
    "x-swagger-net-version": "8.3.24.301"
  },
  "host": "102222cente.yardikube.com",
  "basePath": "/publicapi",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/v1/activity/activities": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "Retrieves a list of ActivityActivities records.",
        "operationId": "Activity_GetApiV1ActivityActivities",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ObjectType",
            "in": "query",
            "description": "ObjectType of retrieved list.",
            "required": true,
            "type": "string",
            "enum": [
              "Company",
              "Contact",
              "Member",
              "Lead",
              "Deal"
            ]
          },
          {
            "name": "ObjectId",
            "in": "query",
            "description": "Unique ID of ObjectType.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Activity record list.",
            "schema": {
              "$ref": "#/definitions/ListDataOfActivityActivities"
            }
          },
          "204": {
            "description": "No matching Activity records found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      },
      "post": {
        "tags": [
          "Activity"
        ],
        "summary": "Creates a new Activity Activities record.",
        "operationId": "Activity_PostActivitiesAsync",
        "consumes": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "activityActivities",
            "in": "body",
            "description": "activityActivities that will be saved.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivityActivities"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Activity record was created successfully.",
            "schema": {
              "$ref": "#/definitions/ActivityActivities"
            }
          },
          "400": {
            "description": "Invalid Activity record."
          },
          "409": {
            "description": "A conflict occurred while processing the request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/activity/activities/{id}": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "Retrieves an ActivityActivities record based on ID.",
        "operationId": "Activity_GetActivitiesAsync",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Activity record.",
            "schema": {
              "$ref": "#/definitions/ActivityActivities"
            }
          },
          "404": {
            "description": "Activity record not found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      },
      "put": {
        "tags": [
          "Activity"
        ],
        "summary": "Updates an ActivityActivities record based on ID.",
        "operationId": "Activity_PutActivitiesAsync",
        "consumes": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "activityActivities",
            "in": "body",
            "description": "activityActivities that will be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivityActivities"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity record updated successfully.",
            "schema": {
              "$ref": "#/definitions/ActivityEvents"
            }
          },
          "400": {
            "description": "Invalid Activity record."
          },
          "409": {
            "description": "A conflict occurred while processing the request."
          },
          "404": {
            "description": "Activity record not found."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/activity/events": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "Retrieves a list of ActivityEvents records.",
        "operationId": "Activity_GetApiV1ActivityEvents",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ObjectType",
            "in": "query",
            "description": "ObjectType of retrieved list.",
            "required": true,
            "type": "string",
            "enum": [
              "Company",
              "Contact",
              "Member",
              "Lead",
              "Deal"
            ]
          },
          {
            "name": "ObjectId",
            "in": "query",
            "description": "Unique ID of ObjectType.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Activity record list.",
            "schema": {
              "$ref": "#/definitions/ListDataOfActivityEvents"
            }
          },
          "204": {
            "description": "No matching Activity records found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      },
      "post": {
        "tags": [
          "Activity"
        ],
        "summary": "Creates a new ActivityEvents record.",
        "operationId": "Activity_PostEventsAsync",
        "consumes": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "activityEvents",
            "in": "body",
            "description": "activityEvents that will be saved.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivityEvents"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Activity record was created successfully.",
            "schema": {
              "$ref": "#/definitions/ActivityEvents"
            }
          },
          "400": {
            "description": "Invalid Activity record."
          },
          "409": {
            "description": "A conflict occurred while processing the request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/activity/events/{id}": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "Retrieves an ActivityEvents record based on ID.",
        "operationId": "Activity_GetEventsAsync",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Activity record.",
            "schema": {
              "$ref": "#/definitions/ActivityEvents"
            }
          },
          "404": {
            "description": "Activity record not found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      },
      "put": {
        "tags": [
          "Activity"
        ],
        "summary": "Updates an ActivityEvents record based on ID.",
        "operationId": "Activity_PutEventsAsync",
        "consumes": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "activityEvents",
            "in": "body",
            "description": "activityEvents that will be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivityEvents"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity record updated successfully.",
            "schema": {
              "$ref": "#/definitions/ActivityEvents"
            }
          },
          "400": {
            "description": "Invalid Activity record."
          },
          "409": {
            "description": "A conflict occurred while processing the request."
          },
          "404": {
            "description": "Activity record not found."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/activity/notes": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "Retrieves a list of ActivityNotes records.",
        "operationId": "Activity_GetApiV1ActivityNotes",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ObjectType",
            "in": "query",
            "description": "ObjectType of retrieved list.",
            "required": true,
            "type": "string",
            "enum": [
              "Company",
              "Contact",
              "Member",
              "Lead",
              "Deal"
            ]
          },
          {
            "name": "ObjectId",
            "in": "query",
            "description": "Unique ID of ObjectType.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Activity record list.",
            "schema": {
              "$ref": "#/definitions/ListDataOfActivityNotes"
            }
          },
          "204": {
            "description": "No matching Activity records found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      },
      "post": {
        "tags": [
          "Activity"
        ],
        "summary": "Creates a new ActivityNotes record.",
        "operationId": "Activity_PostNotesAsync",
        "consumes": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "activityNotes",
            "in": "body",
            "description": "activityNotes that will be saved.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivityNotes"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Activity record was created successfully.",
            "schema": {
              "$ref": "#/definitions/ActivityNotes"
            }
          },
          "400": {
            "description": "Invalid Activity record."
          },
          "409": {
            "description": "A conflict occurred while processing the request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/activity/notes/{id}": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "Retrieves an ActivityNotes record based on ID.",
        "operationId": "Activity_GetNotesAsync",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Activity record.",
            "schema": {
              "$ref": "#/definitions/ActivityNotes"
            }
          },
          "404": {
            "description": "Activity record not found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      },
      "put": {
        "tags": [
          "Activity"
        ],
        "summary": "Updates an ActivityNotes record based on ID.",
        "operationId": "Activity_PutNotesAsync",
        "consumes": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "activityNotes",
            "in": "body",
            "description": "activityNotes that will be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivityNotes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity record updated successfully.",
            "schema": {
              "$ref": "#/definitions/ActivityNotes"
            }
          },
          "400": {
            "description": "Invalid Activity record."
          },
          "409": {
            "description": "A conflict occurred while processing the request."
          },
          "404": {
            "description": "Activity record not found."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/activity/tours": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "Retrieves a list of ActivityTours records.",
        "operationId": "Activity_GetApiV1ActivityTours",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ObjectType",
            "in": "query",
            "description": "ObjectType of retrieved list.",
            "required": true,
            "type": "string",
            "enum": [
              "Company",
              "Contact",
              "Member",
              "Lead",
              "Deal"
            ]
          },
          {
            "name": "ObjectId",
            "in": "query",
            "description": "Unique ID of ObjectType.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Activity record list.",
            "schema": {
              "$ref": "#/definitions/ListDataOfActivityTours"
            }
          },
          "204": {
            "description": "No matching Activity records found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      },
      "post": {
        "tags": [
          "Activity"
        ],
        "summary": "Creates a new ActivityTours record.",
        "operationId": "Activity_PostToursAsync",
        "consumes": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "activityTours",
            "in": "body",
            "description": "activityTours that will be saved.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivityTours"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Activity record was created successfully.",
            "schema": {
              "$ref": "#/definitions/ActivityTours"
            }
          },
          "400": {
            "description": "Invalid Activity record."
          },
          "409": {
            "description": "A conflict occurred while processing the request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/activity/tours/{id}": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "Retrieves an ActivityTours record based on ID.",
        "operationId": "Activity_GetToursAsync",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Activity record.",
            "schema": {
              "$ref": "#/definitions/ActivityTours"
            }
          },
          "404": {
            "description": "Activity record not found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      },
      "put": {
        "tags": [
          "Activity"
        ],
        "summary": "Updates an ActivityTours record based on ID.",
        "operationId": "Activity_PutToursAsync",
        "consumes": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "activityTours",
            "in": "body",
            "description": "activityTours that will be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivityTours"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity record updated successfully.",
            "schema": {
              "$ref": "#/definitions/ActivityTours"
            }
          },
          "400": {
            "description": "Invalid Activity record."
          },
          "409": {
            "description": "A conflict occurred while processing the request."
          },
          "404": {
            "description": "Activity record not found."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      },
      "delete": {
        "tags": [
          "Activity"
        ],
        "summary": "Archives an ActivityTours record based on ID.",
        "operationId": "Activity_DeleteToursAsync",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "Activity record was archived successfully."
          },
          "404": {
            "description": "Activity record not found."
          },
          "409": {
            "description": "A conflict occurred while processing the request."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/amenities/{id}": {
      "get": {
        "tags": [
          "Amenity"
        ],
        "summary": "Retrieves an Amenity record based on ID.",
        "operationId": "Amenity_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Amenity record.",
            "schema": {
              "$ref": "#/definitions/Amenity"
            }
          },
          "404": {
            "description": "Amenity record not found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/amenities/getpropertyamenitylist/{propertyid}": {
      "get": {
        "tags": [
          "Amenity"
        ],
        "summary": "Retrieves a list of Amenity records.",
        "operationId": "Amenity_GetPropertyAmenityList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "propertyid",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "name": "pageNo",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Amenity record list.",
            "schema": {
              "$ref": "#/definitions/ListPageOfAmenity"
            }
          },
          "204": {
            "description": "No matching Amenity records found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/authenticationtoken": {
      "post": {
        "tags": [
          "AuthenticationToken"
        ],
        "summary": "Generates a JWT authentication token used to authenticate requests.",
        "operationId": "AuthenticationToken_PostAsync",
        "consumes": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "authenticationToken",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AuthenticationToken"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "AuthenticationToken record was created successfully.",
            "schema": {
              "$ref": "#/definitions/AuthenticationToken"
            }
          },
          "400": {
            "description": "Invalid AuthenticationToken record."
          },
          "409": {
            "description": "A conflict occurred while processing the request."
          },
          "500": {
            "description": "An error occured while processing the request."
          }
        }
      }
    },
    "/api/v1/bookingdiscountgroup": {
      "get": {
        "tags": [
          "BookingDiscountGroup"
        ],
        "summary": "Retrieves a list of BookingDiscountGroup records.",
        "operationId": "BookingDiscountGroup_GetAsync",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched BookingDiscountGroup record list.",
            "schema": {
              "$ref": "#/definitions/ListDataOfBookingDiscountGroup"
            }
          },
          "204": {
            "description": "No matching BookingDiscountGroup records found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/bookingdiscountgroup/{id}": {
      "get": {
        "tags": [
          "BookingDiscountGroup"
        ],
        "summary": "Retrieves a BookingDiscountGroup record based on ID.",
        "operationId": "BookingDiscountGroup_GetApiV1BookingdiscountgroupById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched BookingDiscountGroup record.",
            "schema": {
              "$ref": "#/definitions/BookingDiscountGroup"
            }
          },
          "404": {
            "description": "BookingDiscountGroup record not found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/bookings": {
      "get": {
        "tags": [
          "Booking"
        ],
        "summary": "Retrieves a list of Booking records.",
        "operationId": "Booking_GetApiV1Bookings",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "FromDate",
            "in": "query",
            "description": "FromDate to filter results on (YYYY-MM-DD hh:mm). Displays entries greater than or equal to date provided but less than \"ToDate.\"",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "ToDate to filter results on (YYYY-MM-DD hh:mm). Displays entries less than or equal to date provided but greater than \"FromDate.\"",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Booking records per page.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "name": "pageNo",
            "in": "query",
            "description": "Booking page number.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 1
          },
          {
            "name": "PropertyId",
            "in": "query",
            "description": "Property ID to filter results on.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "SpaceId",
            "in": "query",
            "description": "Space ID to filter results on.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "SpaceTypeId",
            "in": "query",
            "description": "Space Type ID to filter results on.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "MemberId",
            "in": "query",
            "description": "Member ID to filter results on.",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Booking record list.",
            "schema": {
              "$ref": "#/definitions/ListPageOfBooking"
            }
          },
          "204": {
            "description": "No matching Booking records found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      },
      "post": {
        "tags": [
          "Booking"
        ],
        "summary": "Creates a new Booking record.",
        "operationId": "Booking_PostAsync",
        "consumes": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "booking",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Booking"
            }
          }
        ],
        "responses": {
          "409": {
            "description": "Request failed to pass validation."
          },
          "201": {
            "description": "Booking record was created successfully.",
            "schema": {
              "$ref": "#/definitions/Booking"
            }
          },
          "400": {
            "description": "Invalid Booking record."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/bookings/{id}": {
      "get": {
        "tags": [
          "Booking"
        ],
        "summary": "Retrieves a Booking record based on ID.",
        "operationId": "Booking_GetAsync",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Booking ID.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Booking record.",
            "schema": {
              "$ref": "#/definitions/Booking"
            }
          },
          "404": {
            "description": "Booking record not found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      },
      "put": {
        "tags": [
          "Booking"
        ],
        "summary": "Updates a Booking record based on ID.",
        "operationId": "Booking_PutAsync",
        "consumes": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "booking",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Booking"
            }
          }
        ],
        "responses": {
          "409": {
            "description": "Request failed to pass validation."
          },
          "200": {
            "description": "Booking record updated successfully.",
            "schema": {
              "$ref": "#/definitions/Booking"
            }
          },
          "400": {
            "description": "Invalid Booking record."
          },
          "404": {
            "description": "Booking record not found."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      },
      "delete": {
        "tags": [
          "Booking"
        ],
        "summary": "Cancels a Booking record based on ID.",
        "operationId": "Booking_DeleteAsync",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Booking ID used to cancel the Booking.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "ApplyCancellationFee",
            "in": "query",
            "description": "Flag to indicate if a cancellation fee should be deducted from the booking refund.",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "Booking record was cancelled successfully.",
            "schema": {
              "$ref": "#/definitions/BookingRefund"
            }
          },
          "404": {
            "description": "Booking record not found."
          },
          "409": {
            "description": "A conflict occurred while processing the request."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/companies": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Retrieves a list of Company records.",
        "operationId": "Company_GetApiV1Companies",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Company records per page.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "name": "pageNo",
            "in": "query",
            "description": "Company page number.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 1
          },
          {
            "name": "showArchived",
            "in": "query",
            "description": "Return archived records.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "legalEntityId",
            "in": "query",
            "description": "Return records for legal entities. For multiple legal entites separate id's with a comma.",
            "required": false,
            "type": "string",
            "default": "0"
          },
          {
            "name": "primaryPropertyId",
            "in": "query",
            "description": "Return records for primary properties.For multiple legal entites separate id's with a comma.",
            "required": false,
            "type": "string",
            "default": "0"
          },
          {
            "name": "creationDateFrom",
            "in": "query",
            "description": "Return records created on or after this date.",
            "required": false,
            "type": "string",
            "default": ""
          },
          {
            "name": "creationDateTo",
            "in": "query",
            "description": "Return records created on or before this date.",
            "required": false,
            "type": "string",
            "default": ""
          },
          {
            "name": "lastModifiedDateFrom",
            "in": "query",
            "description": "Return records modifed on or after this date.",
            "required": false,
            "type": "string",
            "default": ""
          },
          {
            "name": "lastModifiedDateTo",
            "in": "query",
            "description": "Return records modified on or before this date.",
            "required": false,
            "type": "string",
            "default": ""
          },
          {
            "name": "createdOrModifiedDateFrom",
            "in": "query",
            "description": "Return records created or modifed on or after this date.",
            "required": false,
            "type": "string",
            "default": ""
          },
          {
            "name": "createdOrModifiedDateTo",
            "in": "query",
            "description": "Return records created or modified on or before this date.",
            "required": false,
            "type": "string",
            "default": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Company record list.",
            "schema": {
              "$ref": "#/definitions/ListPageOfCompany"
            }
          },
          "204": {
            "description": "No matching Company records found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      },
      "post": {
        "tags": [
          "Company"
        ],
        "summary": "Creates a new Company record.",
        "operationId": "Company_PostAsync",
        "consumes": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "company",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Company"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Company record was created successfully.",
            "schema": {
              "$ref": "#/definitions/Company"
            }
          },
          "400": {
            "description": "Invalid Company record."
          },
          "409": {
            "description": "A conflict occurred while processing the request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/companies/{id}": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Retrieves a Company record based on ID.",
        "operationId": "Company_GetAsync",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Company record.",
            "schema": {
              "$ref": "#/definitions/Company"
            }
          },
          "404": {
            "description": "Company record not found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      },
      "put": {
        "tags": [
          "Company"
        ],
        "summary": "Updates a Company record based on ID.",
        "operationId": "Company_PutAsync",
        "consumes": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "company",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Company"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company record updated successfully.",
            "schema": {
              "$ref": "#/definitions/Company"
            }
          },
          "400": {
            "description": "Invalid Company record."
          },
          "409": {
            "description": "A conflict occurred while processing the request."
          },
          "404": {
            "description": "Company record not found."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      },
      "delete": {
        "tags": [
          "Company"
        ],
        "summary": "Archives a Company record based on ID.",
        "operationId": "Company_DeleteAsync",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "Company record was archived successfully."
          },
          "404": {
            "description": "Company record not found."
          },
          "409": {
            "description": "A conflict occurred while processing the request."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/companyusertypes": {
      "get": {
        "tags": [
          "CompanyUserType"
        ],
        "summary": "Retrieves a list of CompanyUserType records.",
        "operationId": "CompanyUserType_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched CompanyUserType record list.",
            "schema": {
              "$ref": "#/definitions/ListDataOfCompanyUserType"
            }
          },
          "204": {
            "description": "No matching CompanyUserType records found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/companyusertypes/{id}": {
      "get": {
        "tags": [
          "CompanyUserType"
        ],
        "summary": "Retrieves a CompanyUserType record based on ID.",
        "operationId": "CompanyUserType_GetApiV1CompanyusertypesById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched CompanyUserType record.",
            "schema": {
              "$ref": "#/definitions/CompanyUserType"
            }
          },
          "404": {
            "description": "CompanyUserType record not found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/contacts": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Retrieves a list of Contact records.",
        "operationId": "Contact_GetApiV1Contacts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "parentId",
            "in": "query",
            "description": "Parent ID to filter results on.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "companyId",
            "in": "query",
            "description": "Company ID to filter results on.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "email",
            "in": "query",
            "description": "Email to filter results on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Contact records per page.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "name": "pageNo",
            "in": "query",
            "description": "Contact page number.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 1
          },
          {
            "name": "showArchived",
            "in": "query",
            "description": "Return archived records.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "DateCreated",
            "in": "query",
            "description": "DateCreated to filter results on (YYYY-MM-DD). Displays entries greater than or equal to date provided.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "DateLastModified",
            "in": "query",
            "description": "DateLastModified to filter results on (YYYY-MM-DD). Displays entries greater than or equal to date provided.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Contact record list.",
            "schema": {
              "$ref": "#/definitions/ListPageOfContact"
            }
          },
          "204": {
            "description": "No matching Contact records found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      },
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Creates a new Contact record.",
        "operationId": "Contact_Post",
        "consumes": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "contact",
            "in": "body",
            "description": "Contact that will be saved.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Contact record was created successfully.",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          },
          "400": {
            "description": "Invalid Contact record."
          },
          "409": {
            "description": "A conflict occurred while processing the request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/contacts/{id}": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Retrieves a Contact record based on ID.",
        "operationId": "Contact_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Contact record.",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          },
          "404": {
            "description": "Contact record not found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      },
      "put": {
        "tags": [
          "Contact"
        ],
        "summary": "Updates a Contact record based on ID.",
        "operationId": "Contact_Put",
        "consumes": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contact ID used to update the Contact.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "contact",
            "in": "body",
            "description": "Contact data that will be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact record updated successfully.",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          },
          "400": {
            "description": "Invalid Contact record."
          },
          "409": {
            "description": "A conflict occurred while processing the request."
          },
          "404": {
            "description": "Contact record not found."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      },
      "delete": {
        "tags": [
          "Contact"
        ],
        "summary": "Archives a Contact record based on ID.",
        "operationId": "Contact_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contact ID used to delete the Contact.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "Contact record was archived successfully."
          },
          "404": {
            "description": "Contact record not found."
          },
          "409": {
            "description": "A conflict occurred while processing the request."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/contacts/{id}/convert": {
      "put": {
        "tags": [
          "Contact"
        ],
        "summary": "Converts a Contact to Lead or Member based on ID.",
        "operationId": "Contact_PutApiV1ContactsByIdConvert",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contact ID used to convert the Contact.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "convertTo",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "Lead",
              "Member"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "Contact record converted successfully."
          },
          "200": {
            "description": "Contact record updated successfully.",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Invalid Contact record."
          },
          "409": {
            "description": "A conflict occurred while processing the request."
          },
          "404": {
            "description": "Contact record not found."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/contacts/companycontact": {
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Creates a new Contact record and a new Company record for the Contact.",
        "operationId": "Contact_SaveContactCompanyData",
        "consumes": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyContact",
            "in": "body",
            "description": "The Contact and Company details that will be saved.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompanyContact"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Contact record was created successfully.",
            "schema": {
              "$ref": "#/definitions/CompanyContact"
            }
          },
          "400": {
            "description": "Invalid Contact record."
          },
          "409": {
            "description": "A conflict occurred while processing the request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/contracts": {
      "get": {
        "tags": [
          "Contract"
        ],
        "summary": "Retrieves a list of Contract records.",
        "operationId": "Contract_GetAsync",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "propertyId",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Contract records per page.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "name": "pageNo",
            "in": "query",
            "description": "Contract page number.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 1
          },
          {
            "name": "showArchived",
            "in": "query",
            "description": "Return archived records.",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Contract record list.",
            "schema": {
              "$ref": "#/definitions/ListPageOfContract"
            }
          },
          "204": {
            "description": "No matching Contract records found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      },
      "post": {
        "tags": [
          "Contract"
        ],
        "summary": "Creates a new Contract record.",
        "operationId": "Contract_Post",
        "consumes": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "contract",
            "in": "body",
            "description": "Contract that will be saved as in progress.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Contract"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Contract record was created successfully.",
            "schema": {
              "$ref": "#/definitions/Contract"
            }
          },
          "400": {
            "description": "Invalid Contract record."
          },
          "409": {
            "description": "A conflict occurred while processing the request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/contracts/{id}": {
      "get": {
        "tags": [
          "Contract"
        ],
        "summary": "Retrieves a Contract record based on ID.",
        "operationId": "Contract_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "proposalStatus",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Contract record.",
            "schema": {
              "$ref": "#/definitions/Contract"
            }
          },
          "404": {
            "description": "Contract record not found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      },
      "put": {
        "tags": [
          "Contract"
        ],
        "summary": "Updates a Contract record based on ID.",
        "operationId": "Contract_PutAsync",
        "consumes": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contract ID used to update the Contract.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "contract",
            "in": "body",
            "description": "Contract data that will be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Contract"
            }
          }
        ],
        "responses": {
          "409": {
            "description": "Request failed to pass validation."
          },
          "200": {
            "description": "Contract record updated successfully.",
            "schema": {
              "$ref": "#/definitions/Contract"
            }
          },
          "400": {
            "description": "Invalid Contract record."
          },
          "404": {
            "description": "Contract record not found."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/country": {
      "get": {
        "tags": [
          "Country"
        ],
        "summary": "Retrieves a list of Country records.",
        "operationId": "Country_GetAsync",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Country record list.",
            "schema": {
              "$ref": "#/definitions/ListDataOfCountry"
            }
          },
          "204": {
            "description": "No matching Country records found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/deposits": {
      "get": {
        "tags": [
          "Deposit"
        ],
        "summary": "Retrieves a list of Deposit records.",
        "operationId": "Deposit_GetApiV1Deposits",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "description": "Company ID to filter results on.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Payment records per page.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "name": "pageNo",
            "in": "query",
            "description": "Payment page number.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 1
          },
          {
            "name": "legalEntityId",
            "in": "query",
            "description": "Return records for legal entities. For multiple legal entites separate id's with a comma.",
            "required": false,
            "type": "string",
            "default": "0"
          },
          {
            "name": "propertyId",
            "in": "query",
            "description": "Return records for primary properties. For multiple properties separate id's with a comma.",
            "required": false,
            "type": "string",
            "default": "0"
          },
          {
            "name": "creationDateFrom",
            "in": "query",
            "description": "Return records created on or after this date.",
            "required": false,
            "type": "string",
            "default": ""
          },
          {
            "name": "creationDateTo",
            "in": "query",
            "description": "Return records created on or before this date.",
            "required": false,
            "type": "string",
            "default": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Deposit record list.",
            "schema": {
              "$ref": "#/definitions/ListPageOfDeposit"
            }
          },
          "204": {
            "description": "No matching Deposit records found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/deposits/{id}": {
      "get": {
        "tags": [
          "Deposit"
        ],
        "summary": "Retrieves a Deposit record based on ID.",
        "operationId": "Deposit_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Deposit record.",
            "schema": {
              "$ref": "#/definitions/Deposit"
            }
          },
          "404": {
            "description": "Deposit record not found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/events": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "Retrieves a list of Event records.",
        "operationId": "Event_GetApiV1Events",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "PropertyId",
            "in": "query",
            "description": "Property Id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Event records per page.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "name": "pageNo",
            "in": "query",
            "description": "Event page number.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Event record list.",
            "schema": {
              "$ref": "#/definitions/ListPageOfEvent"
            }
          },
          "204": {
            "description": "No matching Event records found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/events/{id}": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "Retrieves an Event record based on ID.",
        "operationId": "Event_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Event record.",
            "schema": {
              "$ref": "#/definitions/Event"
            }
          },
          "404": {
            "description": "Event record not found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/events/{id}/discussion": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "Retrieves a list of Event discussion.",
        "description": "",
        "operationId": "Event_GetDiscussionAsync",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Event discussion list.",
            "schema": {
              "items": {
                "$ref": "#/definitions/EventDiscussion"
              },
              "xml": {
                "name": "EventDiscussion",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "404": {
            "description": "Event discussion record not found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      },
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "Creates a new Event discussion record.",
        "description": "",
        "operationId": "Event_PostDiscussionAsync",
        "consumes": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "eventDiscussion",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventDiscussion"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Event discussion record was created successfully.",
            "schema": {
              "$ref": "#/definitions/EventDiscussion"
            }
          },
          "400": {
            "description": "Invalid Event discussion record."
          },
          "409": {
            "description": "A conflict occurred while processing the request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/events/{id}/discussion/{discussionid}": {
      "delete": {
        "tags": [
          "Event"
        ],
        "summary": "Archives a Event discussion record based on Event ID,Discussion ID.",
        "description": "",
        "operationId": "Event_DeleteDiscussionAsync",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "discussionid",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "Event discussion record was archived successfully."
          },
          "404": {
            "description": "Event discussion record not found."
          },
          "409": {
            "description": "A conflict occurred while processing the request."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/events/{id}/discussion/{discussionid}/reply": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "Retrieves a list of Event discussion reply.",
        "description": "",
        "operationId": "Event_GetDiscussionReplyAsync",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "discussionid",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Event discussion reply list.",
            "schema": {
              "items": {
                "$ref": "#/definitions/EventDiscussion"
              },
              "xml": {
                "name": "EventDiscussion",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "404": {
            "description": "Event discussion reply record not found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      },
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "Creates a new Event discussion reply record.",
        "description": "",
        "operationId": "Event_PostDiscussionReplyAsync",
        "consumes": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "discussionid",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "eventDiscussion",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventDiscussion"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Event discussion reply record was created successfully.",
            "schema": {
              "$ref": "#/definitions/EventDiscussion"
            }
          },
          "400": {
            "description": "Invalid Event discussion reply record."
          },
          "409": {
            "description": "A conflict occurred while processing the request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/events/{id}/EventPhoto": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "Retrieves an Event record based on ID.",
        "operationId": "Event_EventPhoto",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Event record.",
            "schema": {
              "type": "object"
            }
          },
          "404": {
            "description": "Event record not found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          }
        }
      }
    },
    "/api/v1/events/{id}/guestlist": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "Retrieves a list of Event guest.",
        "description": "",
        "operationId": "Event_GetGuestListAsync",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Event guest list.",
            "schema": {
              "items": {
                "$ref": "#/definitions/EventGuestList"
              },
              "xml": {
                "name": "EventGuestList",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "404": {
            "description": "Event guest record not found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/events/{id}/rsvp": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "Creates a new Event rsvp record.",
        "description": "",
        "operationId": "Event_PostRsvpAsync",
        "consumes": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "eventRsvp",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventRsvp"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Event rsvp record was created successfully.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          "400": {
            "description": "Invalid Event rsvp record."
          },
          "409": {
            "description": "A conflict occurred while processing the request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/events/{id}/rsvp/{rsvpid}": {
      "put": {
        "tags": [
          "Event"
        ],
        "summary": "Update a Event rsvp record.",
        "description": "",
        "operationId": "Event_PutRsvpAsync",
        "consumes": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "rsvpid",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "eventRsvp",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventRsvp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event rsvp record was updated successfully.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          "400": {
            "description": "Invalid Event rsvp record."
          },
          "409": {
            "description": "A conflict occurred while processing the request."
          },
          "404": {
            "description": "Event record not found."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/industries": {
      "get": {
        "tags": [
          "Industry"
        ],
        "summary": "Retrieves a list of Industry records.",
        "operationId": "Industry_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Industry record list.",
            "schema": {
              "$ref": "#/definitions/ListDataOfIndustry"
            }
          },
          "204": {
            "description": "No matching Industry records found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/industries/{id}": {
      "get": {
        "tags": [
          "Industry"
        ],
        "summary": "Retrieves an Industry record based on ID.",
        "operationId": "Industry_GetApiV1IndustriesById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Industry record.",
            "schema": {
              "$ref": "#/definitions/Industry"
            }
          },
          "404": {
            "description": "Industry record not found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/internaluser": {
      "get": {
        "tags": [
          "InternalUser"
        ],
        "summary": "Retrieves a list of InternalUser records.",
        "operationId": "InternalUser_GetAsync",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched InternalUser record list.",
            "schema": {
              "$ref": "#/definitions/ListDataOfInternalUser"
            }
          },
          "204": {
            "description": "No matching InternalUser records found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/internaluser/{id}": {
      "get": {
        "tags": [
          "InternalUser"
        ],
        "summary": "Retrieves an InternalUser record based on ID.",
        "operationId": "InternalUser_GetApiV1InternaluserById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched InternalUser record.",
            "schema": {
              "$ref": "#/definitions/InternalUser"
            }
          },
          "404": {
            "description": "InternalUser record not found."
          },
          "400": {
            "description": "Unable to process request."
          },
          "500": {
            "description": "An error occured while processing the request."
          },
          "401": {
            "description": "Request authorization failed."
          }
        }
      }
    },
    "/api/v1/invoicedetails": {
      "get": {
        "tags": [
          "InvoiceDetail"
        ],
        "summary": "Retrieves a list of InvoiceDetail records.",
        "operationId": "InvoiceDetail_GetApiV1Invoicedetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/html",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "description": "Company ID to filter results on.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Payment records per page.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "name": "pageNo",
            "in": "query",
            "description": "Payment page number.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 1
          },
          {
[...]
